@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@400;500&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: var(--accent-color);
}

/* utility classes */
.container {
    max-width: 1180px;
    padding-inline: var(--padding-inline-section);
    margin-inline: auto;
}

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.flex {
    display: flex;
    align-items: center;
}

/* top banner */
.top-banner {
    background-color: #e74694;
    background-image: url(asset\ 32.png);
    background-size: 300px;
}

.banner-text {
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.nav-bar {
    gap: 30px;
}

.main-nav {
    padding: 20px var(--padding-inline-section);
    justify-content: space-between;
}

.hover-links {
    color: black;
    font-weight: 300;
    transition: 0.25s ease-out;
}

.hover-links:hover {
    color: var(--accent-color);
}

.company-logo img {
    width: 168px;
}

.secondary-button {
    background-color: var(--accent-color);
    color: white !important;
    /* width:120px; */
    text-align: center;
    padding: 10px var(--padding-inline-section);
    border-radius: 6px;
    transition: 0.25s ease-in-out;
    font-weight: 500;
}

.secondary-button:hover {
    background-color: var(--accent-color-dark);
}

.primary-button {
    font-weight: 500;
    border: 2px solid #64819b;
    /* width:120px; */
    text-align: center;
    padding: 10px var(--padding-inline-section);
    border-radius: 6px;
    transition: 0.25s ease-in-out;
}

.primary-button:hover {
    border-color: var(--accent-color);
}

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-container {
    justify-content: center;
    gap: 50px;
}

.header-image img {
    width: 586px;
}

.headertext {
    max-width: 40vw;
}

.heading {
    font-weight: 500;
}

.headertext p {
    margin-top: 20px;
}

.headertext a {
    margin-top: 25px;
}

.text-company {
    color: #183b56;
}

.companies-section {
    margin-top: 95px;
    text-align: center;
}

.company-logos {
    margin-block: 30px;
    justify-content: space-between;
}

.company-logos img {

    height: 46px;
}

.feature-btn:hover,
.example-btn:hover {
    color: var(--accent-color) !important;

}

.features-holder {
    flex-wrap: wrap;
    justify-content: center;
}

.feature-card {
    max-width: 30%;
    min-width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 1.5%;
    padding-left: 1.5%;
    order: 0;
    text-align: center;
}

.feature-card img {
    width: 40px;
}

.feature-card h2 {

    margin-top: 10px;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    letter-spacing: -.5px;
}

.feature-card p {

    position: static;
    display: block;
    margin-top: 10px;
    margin-bottom: 11px;
    align-self: flex-start;
    color: #577592;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.features-section {
    background-position: center;
    background-image: url(asset\ 34.svg);
    margin-top: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img1 {
    width: 547px;
}

.big-feature-section {
    margin-block: 70px;
    justify-content: center;
    gap: 50px;
}

.testimonial {
    gap: 20px;
    margin-top: 20px;
}

.testimonial div img {
    margin-right: 20px;
    float: left;
    width: 45px
}

.container1 {

    justify-content: center;
    gap: 50px;
}

.text h3,
h2,
p {
    margin-bottom: 15px;
}

.text {
    position: relative;
    flex: 50%;
}

.text .feedback {
    max-width: 410px;
    margin-top: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-left: 30px;
    background-image: url("asset 35.svg");
    background-position: 0 0;
    background-size: 64px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Averta PE', sans-serif;
    color: #183b56;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
}

.philips {
    width: 74px;
    padding: 0 0 30px;
}

.the-economist-group {
    width: 116px;
    padding: 0 0 30px;
}

.testimonial .test1 h5 {

    display: block;
    padding-left: 10px;
    font-family: 'Averta PE', sans-serif;
    color: #183b56;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
}

.example-heading {
    text-align: center;
}

.example h2 {
    font-size: 40px;
    letter-spacing: -.5px;
}

.examples-section {
    margin-block: 50px;
}

.example-card {

    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;

    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.9)), url("asset\ 38.jpeg");
    background-size: cover;
}

.example-card :hover {
    box-shadow: 0 0 10px black;
}

.example-images {
    margin-block: 20px;
    justify-content: space-between;
}

.card-text {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.card0 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.9)), url("asset\ 36.jpeg");

    background-size: cover;
}

.card0:hover {
    box-shadow: 0 0 10px black;
}

.card1 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.9)), url("asset\ 37.jpeg");
    background-size: cover;
}

.card1:hover {
    box-shadow: 0 0 10px black;
}

.card2 {}

.card2:hover {
    box-shadow: 0 0 10px black;
}

.card3 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.9)), url("asset\ 39.jpeg");
    background-size: cover;
}

.card3:hover {
    box-shadow: 0 0 10px black;
}

.cta-section {
    background: #183b54;
    margin-top: 10px;
}

.left-cta h3 {
    FONT-SIZE:
        40px;
    LINE-HEIGHT:
        48px;
    TEXT-ALIGN:
        left;
    LETTER-SPACING:
        -0.5px;
    color: white !important;
    FONT-FAMILY:
        "Averta PE", sans-serif;
}

.left-cta {
    color: #b9cde4;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    FONT-FAMILY:
        Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.left-cta h4 {
    FONT-SIZE:
        14px;
    LINE-HEIGHT:
        21px;
    TEXT-ALIGN:
        start;
    LETTER-SPACING:
        normal;
    color: white;
    FONT-FAMILY:
        Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cta {
    padding: 40px;
    justify-content: space-between
}

.right-cta {
    position: relative;

}

.right-cta img {
    position: relative;
    width: 546px;
}

.lists,
.lists ul {
    gap: 30px;
    list-style: disc;
    color: #b9cde4;
    position: relative;
    left: 10px;
}

.panel-price {
    FONT-FAMILY:
        Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    ;
    FONT-SIZE:
        14px;
    LINE-HEIGHT:
        21px;
    TEXT-ALIGN:
        start;
    LETTER-SPACING:
        normal;
    color: #333333;
    font-weight: bold;
}

.panelad-image-price img {
    width: 250px;
    position: absolute;
    top: 130px;
    right: 150px;
}


.div-block-3 {
    color: #8ba6c0;
    FONT-FAMILY:
        "Averta PE", sans-serif;
    FONT-SIZE:
        24px;
    LINE-HEIGHT:
        36px;
    TEXT-ALIGN:
        start;
    LETTER-SPACING:
        normal;
}

.price {
    color: #2294ed;
    FONT-FAMILY:
        "Averta PE", sans-serif;
    FONT-SIZE:
        50px;
    LINE-HEIGHT:
        36px;
    TEXT-ALIGN:
        start;
    LETTER-SPACING:
        normal;
}

.panel-price-id {
    position: absolute;
    right: 220px;
    bottom: 200px;
}

.call-to-action {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
}

.call-to-action .container h2 {
    margin-bottom: 40px;
}

.call-to-action .container p {
    margin-bottom: 30px;
}

.product {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}

.footer-nav {
    align-items: start;
}

.foot-flex {
    align-items: start;
    justify-content: space-between;

}

footer {
    padding: 100px;
}

.product a {
    color: var(--secondary-text-color);
    transition: 0.2s ease-in-out;
}

.product a:hover {
    color: var(--accent-color)
}

.product a:nth-of-type(1) {
    color: var(--primary-text-color);
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.product a:nth-of-type(1):hover {
    color: var(--accent-color)
}

.subfooter {
    padding: 30px 50px;
    background: #b9cde4;
}

.sub-foot-sec {
    justify-content: center;
    gap: 40px;
}

.sub-foot-flex {
    justify-content: center;
    gap: 60px;
}

.sub-foot-logos {
    justify-content: space-between;
    gap: 30px;
}

.yt:hover {
    color: darkred;
}

.fb:hover {
    color: darkblue;
}

.linkedin:hover {
    color: #0A66C2;
}
